:root {
  /* primary */
  --Dark-Blue-intro: hsl(217, 28%, 15%);
  --Dark-Blue-main: hsl(218, 28%, 13%);
  --Dark-Blue-footer: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials: hsl(219, 30%, 18%);
  /* accent */
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  /* neutral */
  --White: hsl(0, 0%, 100%);
}

html {
  font-size: 14px;
}

body {
  overflow-x: hidden;
  background: var(--Dark-Blue-main);
  max-width: 2100px;
  margin: auto;
}

nav {
  height: 10vh;
  width: 100vw;
  max-width: 2100px;
  font-family: 'Raleway', sans-serif;
  background: var(--Dark-Blue-intro);
}

img[alt='Logo'] {
  max-width: 80%;
}

ul.navbar-nav {
  max-width: 400px;
  width: 100%;
}

#intro {
  background: url(./images/bg-curvy-mobile.svg) center/contain no-repeat
    var(--Dark-Blue-intro);
  height: 90vh;
  color: var(--White);
}

#intro p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

img[alt='intro'] {
  max-width: 80%;
}

#get_started {
  background: linear-gradient(180deg, var(--Cyan), var(--Blue));
  width: 100%;
  min-height: 3.4rem;
  max-height: 4.2rem;
  border: none;
  max-width: 400px;
  color: var(--White);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

#get_started:hover {
  background: linear-gradient(90deg, var(--Cyan), var(--Blue));
}

#features {
  color: white;
  background: var(--Dark-Blue-main);
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}

.features img {
  height: 40%;
}

.features h2 {
  height: 20%;
  display: flex;
  align-items: flex-end;
}

.features p {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: var(--White);
  font-weight: 700;
}

p {
  color: var(--White);
  font-family: 'Open Sans', sans-serif;
}

.col-12 {
  color: white;
  text-align: center;
}

img[alt='illustration-stay-productive'] {
  max-width: 100%;
}

.profile img {
  height: 50px;
}

.links {
  display: block;
  text-align: left;
}

#see_how {
  text-decoration: none;
  color: var(--Cyan);
  border-bottom: 1px solid var(--Cyan);
  padding-bottom: 0.4rem;
  position: relative;
  padding-right: 1.8rem;
}

#see_how::before {
  content: '';
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(./images/icon-arrow.svg) center/cover no-repeat;
  width: 18%;
  height: 80%;
}

#see_how:hover {
  color: var(--White);
  border-color: var(--White);
}

#see_how:hover::before {
  background: url(./images/icon-arrow-white.svg) center/cover no-repeat;
}

#team {
  /* height: 100vh; */
  margin-bottom: 15rem;
}

.team {
  background: var(--Dark-Blue-testimonials);
  width: 80%;
  margin: auto;
  padding: 1rem;
  position: relative;
  max-width: 400px;
  margin-bottom: 1rem;
}

.team:first-child::before {
  content: '';
  position: absolute;
  top: -5%;
  left: 5%;
  transform: translate(-50%, -50%);
  background: url(./images/bg-quotes.png) left/contain no-repeat;
  width: 10%;
  min-height: 10%;
  max-width: 50px;
}

.name {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: var(--White);
}

.job {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.86rem;
}

#team p {
  color: var(--White);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem;
}

#contact {
  background: var(--Dark-Blue-footer);
  padding: 0;
  margin: 0;
  position: relative;
  width: 100vw;
  max-width: 2100px;
  min-height: 50vh;
}

form {
  background-color: var(--Dark-Blue-intro);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.123);
  align-self: center;
  position: relative;
  top: -200px;
}

input,
form button {
  display: block;
  margin: auto;
  border-radius: 20px;
  min-height: 3rem;
  outline: none;
  border: none;
  width: 80%;
}

input {
  text-indent: 5%;
  position: relative;
}

#verify {
  width: 80%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: var(--Light-Red);
  visibility: hidden;
}

form button {
  background: linear-gradient(180deg, var(--Cyan), var(--Blue));
  color: var(--White);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

form button:hover {
  background: linear-gradient(90deg, var(--Cyan), var(--Blue));
}

.contact_detail {
  margin-top: 10rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--White);
}

.contact_detail a {
  text-decoration: none;
  color: var(--White);
  width: max-content;
}

.contact_detail a:hover {
  font-weight: 700;
}

.logo {
  position: relative;
}

.logo::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 30%;
  background: url(./images/logo.svg) left/contain no-repeat;
  top: -40%;
  left: 0;
}

.social {
  max-width: 400px;
  width: 50%;
  margin-bottom: 1rem;
}

.social a i {
  color: var(--White);
  padding: 0.2rem;
}

.social a:hover i {
  color: var(--Cyan);
}

/* tablet */
@media (min-width: 768px) {
  html {
    font-size: 17.5px;
  }
  #intro {
    background: url(./images/bg-curvy-mobile.svg) bottom/contain no-repeat
      var(--Dark-Blue-intro);
    height: 100vh;
    margin-bottom: 5rem;
  }
  .container_intro {
    width: 50%;
    height: 50%;
    max-width: 1000px;
  }

  form input {
    width: 60%;
    display: inline;
    border-radius: 3rem;
  }

  form button {
    width: 30%;
    display: inline;
    margin-right: auto;
    border-radius: 3rem;
  }

  img[alt='intro'] {
    max-width: 50%;
  }
}
